@media (max-width: 414px)
{
	body{

	}
.containe-1{
	width: 280.0%;
 height: 30.5%;
}
.containe-2{
	width: 100%;
 height: 50%;
 background: url("../img/snowflake.png")  no-repeat -80% 600%;
}
.ceis3{
	 width: 100%;
	 height: 200px;
	   border: 0px solid #000;
	   text-align: center;
	  
padding-left: 150px;
}

.logo14{
font-style: normal;
font-weight: 3000;
font-size: 980%;
line-height: 2;
font-family: 'NeueMachina-Ultrabold';

line-height: 80.6%;
text-align: center;
letter-spacing: -0.03em;
}
.logo13{
font-style: normal;
font-weight: 3000;
font-size: 450%;
line-height: 2;
font-family: 'NeueMachina-Ultrabold';

line-height: 80.6%;
text-align: center;
letter-spacing: -0.03em;
}
.containe-3{
	width: 280.0%;
 height: 65%;
 background: url("../img/eternity.png")  no-repeat 100% 50%;
}
.logo1{
font-style: normal;
font-weight: 3000;
font-size: 400%;
line-height: 2;
font-family: 'NeueMachina-Regular';
line-height: 80.6%;
text-align: left;
letter-spacing: -0.03em;
color: #383f67;
}
.logo2{

font-style: normal;
font-weight: 500;
font-size: 300%;
line-height: 80.6%;
padding-top: 50px;
}
.ceis2{
	 width: 280%;
	 height: 100px;
	   border: 0px solid #000;
	  
padding-left: 60px;
}
.containe-4{
	width: 100%;
 height: 65%;
}

.logo11{
font-style: normal;
font-weight: 3000;
font-size: 400%;
line-height: 2;
font-family: 'NeueMachina-Regular';
color: #383f67;
line-height: 80.6%;
text-align: left;
letter-spacing: -0.03em;
}
.logo22{

font-style: normal;
font-weight: 1000;
font-size: 300%;
line-height: 100.6%;
text-align: left;
}
.ceis1{
	 width: 255%;
	 height: 150px;
	   border: 0px solid #000;	  	
padding-left: 170px;
padding-top: 50px;
}

.containe-5{
		width: 280.0%;
 height: 30.5%;
}
}

.probl{
	width: 100%;
 height: 40%;	
}
.txtfin
{
	font-family: 'NeueMachina-Light';
	font-size: 300%;
	padding-left: 170px;
	width: 200%;
	border: 0px solid #000;
}